<h1>Pets</h1>
<div style="padding: 100px;">
	<table class = "highlight centered">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre Pet</th>
				<th>Fecha de Nacimiento</th>
			</tr>
		</thead>
		<tbody>
				<%= render @pets %>
		</tbody>
	</table>
</div>


<%= link_to "Crear nuevo pet", new_pet_path, class:"btn btn-default btn-lg" %>
